html {
	background-color: #000000;
	padding: 5%;

}

body {
	font-family: Roboto, sans-serif;
	margin: 0px;
	padding: 0px;
}

header {
	width: 100%;
	height: 400px;
	margin: 0px;
	padding: 0px;
}
section {
	background-color: #ffffff;
	margin: 0px;
}

section img {
	width: 100%;
}

nav {
	display: flex;
	flex-direction: row;
	margin: 0px;	
	width: 100%;
	height: 50px;
	background-color: #ffffff;
}

nav h1 {
	display: flex;
	flex-direction: row;
	margin: 0px;	
	width: 100%;
	padding: 10px;
}

nav > ul {
	display: flex;
	flex-direction: row;
	width: 75%;
	float: right;
	margin: 0px;
	padding: 0px;
}

nav > ul > li {
	list-style-type: none;
	width: 25%;
	text-align: center;
	margin: 0px;
	padding: 1em;
	font-size: 14px;
	display: block;
	font-weight: bold;
}

nav > ul > li a {
	text-decoration: none;
	display: block;
	width: 100%;
	height: 100%;
	color: #000000;
}

nav > ul > li:hover {
	font-style: italic;
}

nav > ul > li.selected {
	font-style: italic;
}