html {
	background-color: #000000;
	height: 100%;
}

body {
	font-family: Roboto, sans-serif;
	background-color: #ffffff;
	margin: 0px;
	padding: 0px;
	height: 100%;
	display: block;
}

/* Home Page Only */
section.image {
	margin: 0px;
	width: 100%;
	height: 95%;
	display: block;
	position: relative;
	background: url(../img/Img_1522.jpg) no-repeat top center;
}

section div.homepageDiv {
	position: relative;
	width: 90%;
	padding: 5%;
	background-color: rgba(0,0,0,0.8);
	display: block;
	color: #ffffff;
	text-align: center;
	min-height: 87%;
	float: right;
}

section div#homepageDiv h3 {
	font-style: italic;
	margin-bottom: 4%;
}

section div#homepageDiv p {
	font-style: italic;
	text-align: center;
}

/* Navigation on All Pages */
nav {
	display: flex;
	flex-direction: row;
	margin: 0px;	
	width: 100%;
	height: 5%;
	background-color: #ffffff;
}

nav h1 {
	display: flex;
	flex-direction: row;
	margin: 0px;	
	width: 100%;
	padding: 10px;
}

nav > ul {
	display: flex;
	flex-direction: row;
	width: 75%;
	float: right;
	margin: 0px;
	padding: 0px;
	padding-top: 15px;
}

nav > ul > li {
	list-style-type: none;
	width: 25%;
	text-align: center;
	margin: 0px;
	font-size: 14px;
	display: block;
	font-weight: bold;
}

nav > ul > li a {
	text-decoration: none;
	display: block;
	width: 100%;
	height: 100%;
	color: #000000;
}

nav > ul > li:hover {
	font-style: italic;
}

nav > ul > li.selected {
	font-style: italic;
}

/*Section Main */
section.main {
	text-align: center;
	height: 260px;
}

section#home {
	background: url(../img/Img_1522.jpg) no-repeat center center ;
	height: 340px;
}

section#aboutMe {
	background: url(../img/IMG_1531.JPG) no-repeat center center ;
}

section#gallery {
	background: url(../img/IMG_1529.JPG) no-repeat top right ;
}

section#contact {
	background: url(../img/IMG_1524.JPG) no-repeat center center ;
}

section.main div.transparent {
	width: 100%;
	height: 180px;
	background-color: rgba(0,0,0,0.6);
	color: #ffffff;
	padding-top: 80px;
}

section#home div.transparent {
	height: 240px;
	padding-top: 100px;
}

/* Home Page */
section#subHome {
	display: flex;
	flex-direction: row-reverse;
	vertical-align: center;
	width: 100%;
	justify-content: center;
	margin-top: 3%;
}

section#subHome p {
	width: 40%;
	padding: 2%;
	text-align: center;
}

/* Hidden About Me */
.aboutMeDetails {
	display: none;
}

/* About Me Page */

section.container {
	display: flex;
	flex-direction: row;
}

section.container div.separate {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

section.container div.separate:first-of-type {
	display: block;
	margin: auto;
}

section.container div.separate:nth-of-type(2) {
	width: 30%;
	margin: auto;
	margin-left: 0;
	margin-right: 0;
}

img[alt="linkedInPhoto"] {
	border: 5px solid white;
	border-radius: 25%;
}

section.container div.separate:last-of-type {
	width: 50%;
}

div.separate input[type="button"] {
	background-color: #06194C;
	color: #ffffff;
	padding: 15px;
	margin-top: 5px;
	border-radius: 10px;
	width: 80%;
	font-weight: bold;
}

h5 {
	font-size: 11pt;
}

td.detailHeader {
	background-color: #06194C;
	color: #ffffff;
	padding: 10px;
}

td.detailItem {
	padding: 10px;
	padding-left: 20px;
	border: 1px solid #06194C;
	color: #06194C;
}


/* Contact */
section#contactContent {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
	margin-top: 3%;
}

div#contactInfo {
	display: flex;
	flex-direction: column;
	padding: 2%;
}