html {
	background-color: #000000;
	height: 100%;
}

body {
	font-family: Roboto, sans-serif;
	background-color: #ffffff;
	margin: 0px;
	padding: 0px;
	height: 100%;
	display: block;
}

/* Home Page Only */
section.image {
	margin: 0px;
	width: 100%;
	height: 95%;
	display: block;
	position: relative;
	background: url(../img/Img_1522.jpg) no-repeat top center;
}

section div.homepageDiv {
	position: relative;
	width: 90%;
	padding: 5%;
	background-color: rgba(0,0,0,0.8);
	display: block;
	color: #ffffff;
	text-align: center;
	min-height: 87%;
	float: right;
}

section div#homepageDiv h3 {
	font-style: italic;
	margin-bottom: 4%;
}

section div#homepageDiv p {
	font-style: italic;
	text-align: center;
}

/* Navigation on All Pages */
nav {
	display: flex;
	flex-direction: row;
	margin: 0px;	
	width: 100%;
	height: 5%;
	background-color: #ffffff;
}

nav h1 {
	display: flex;
	flex-direction: row;
	margin: 0px;	
	width: 100%;
	padding: 10px;
}

nav > ul {
	display: flex;
	flex-direction: row;
	width: 75%;
	float: right;
	margin: 0px;
	padding: 0px;
	padding-top: 15px;
}

nav > ul > li {
	list-style-type: none;
	width: 25%;
	text-align: center;
	margin: 0px;
	font-size: 14px;
	display: block;
	font-weight: bold;
}

nav > ul > li a {
	text-decoration: none;
	display: block;
	width: 100%;
	height: 100%;
	color: #000000;
}

nav > ul > li:hover {
	font-style: italic;
}

nav > ul > li.selected {
	font-style: italic;
}

/* About Me Page */
section.main {
	text-align: center;
	height: 260px;
}

section#home {
	background: url(../img/Img_1522.JPG) no-repeat center center ;
}

section#aboutMe {
	background: url(../img/IMG_1531.JPG) no-repeat center center ;
}

section#gallery {
	background: url(../img/IMG_1529.JPG) no-repeat top right ;
}

section#contact {
	background: url(../img/IMG_1524.JPG) no-repeat center center ;
}

section.main div.transparent {
	width: 100%;
	height: 180px;
	background-color: rgba(0,0,0,0.6);
	color: #ffffff;
	padding-top: 80px;
}

section.container {
	display: flex;
	flex-direction: row;
}

section.container div.separate:first-of-type {
	display: block;
	width: 10%;
	margin: auto;
	margin-left: 0;
	margin-right: 0;
}

img[alt="linkedInPhoto"] {
	border: 5px solid white;
	border-radius: 25%;
}

section.container div.separate:last-of-type {
	width: 60%;
}

section.sub {
	width: 100%;
}

section.sub h4,section.sub h5 {
	width: 100%;
	text-align: center;
}

section#skills h4 {
	margin-bottom: 0;
}

h5 {
	font-size: 11pt;
}

section.sub table {
	width: 100%;
}
section.sub table tbody tr td:first-of-type {
	border-right: 3px solid #0F9367;
}

section.sub table tbody tr td {
	width: 50%;
	padding-bottom: 10px;
}

section.sub table tbody tr td:first-of-type {
	text-align: right;
	padding-right: 10px;
}

section.sub table tr th:first-of-type h5 {
	padding-right: 15px;
}

section.sub table tbody tr td:last-of-type {
	text-align: left;
	padding-left: 10px;
}